/* 1680 */

@media screen and (max-width: 1680px) {
  .backgr {
    height: calc(100vw * (1050 / 1680));
  }
    .container {
        max-width: 1680px;
        max-height: 1050px;
    }
    .chip {
        width: calc(100vw*(220 / 1680));
    }
    .title {
        font-size: 60px;
        top: 16px;
        left: 123px;
    }
    .hide-btn {
      width: 287px;
      height: 42px;
      left: 694px;
      font-size: 20px;
    }
  
    .hide-btn-2 {
      width: 49px;
      height: 38px;
      left: 812px;
      font-size: 36px;
    }
    .slot {
        width: 210px;
        height: 447px;
        font-size: 100px;
      }
    .slot1 {
        top: 250px;
        left: 71px;
      }
    .slot2 {
        top: 197px;
        left: 455px;
      }
    .slot3 {
        top: 291px;
        right: 547px;
      }
    .slot4 {
        top: 191px;
        right: 115px;
      }
    h2 {
        font-size: 40px;
        bottom: 197px;
        left: 122px;
      }
    .name-input {
        width: 596px;
        bottom: 40px;
        left: 122px;
      }

    .chips-drag {
        height: calc(100vw*(1050/1680));
        }
    .chips-title {
        width: 1099px;
        height: 95px;
        font-size: 60px;
        top: 37px;
        left: 291px;
      }
    .hand-1 {
        width: 669px;
        height: 836px;
        top: 103px;
      }
    
    .hand-2 {
        width: 669px;
        height: 836px;
        top: 103px;
      }
    .draggable {
        width: calc(100vw*(175/1680));
      }
    .done-1 {
        width: 353px;
        height: 104px;
        top: 857px;
        left: 664px;
        transition: all 0.1s ease-in-out;
      }
    .done-text {
        font-size: 50px;
        bottom: 5px;
      }
}

/* 1536 */

@media screen and (max-width: 1536px) {
  .backgr {
    height: calc(100vw * (742 / 1536));
  }
    .container {
        max-width: 1536px;
    }
    .chip {
        width: calc(100vw*(255 / 1536));
    }
    .title {
        width: 307px;
        height: 141px;
        font-size: 40px;
        top: 21px;
        left: 106px;
    }
    .hide-btn {
      width: 257px;
      height: 38px;
      left: 621px;
      font-size: 17px;
    }
  
    .hide-btn-2 {
      width: 47px;
      height: 36px;
      left: 731px;
      font-size: 36px;
    }
    #FAQ {
      width: 67px;
      height: 67px;
      top: 27px;
      right: 110px;
      font-size: 40px;
    }
    .slot {
        width: 190px;
        height: 406px;
        font-size: 100px;
      }
    .slot1 {
        top: 177px;
        left: 77px;
      }
    .slot2 {
        top: 137px;
        left: 450px;
      }
    .slot3 {
        top: 283px;
        right: 550px;
      }
    .slot4 {
        top: 158px;
        right: 84px;
      }
    h2 {
        font-size: 30px;
        bottom: 154px;
        left: 105px;
      }
    .name-input {
        width: 436px;
        height: 76px;
        bottom: 44px;
        left: 105px;
        font-size: 30px;
      }

    .chips-drag {
        height: calc(100vw*(864/1536));
        }
    .chips-title {
        width: 911px;
        height: 79px;
        font-size: 50px;
        top: 25px;
        left: 313px;
      }
    .hand-1 {
        width: 637px;
        height: 693px;
        top: 111px;
      }
    
    .hand-2 {
        width: 637px;
        height: 693px;
        top: 111px;
      }
    .draggable {
        width: calc(100vw*(145/1536));
      }
    .done-1 {
        width: 293px;
        height: 86px;
        top: 626px;
        left: 622px;
        transition: all 0.1s ease-in-out;
      }
    .done-text {
        font-size: 40px;
        bottom: 5px;
      }
}
