@font-face {
    font-family: 'Joystix';
    src: url('../fonts/joystix\ monospace.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

/* html */

html {
    width: 100%;
}

::selection {
    background-color: white;
}

body {
    height: 100%;
    overflow: hidden;
    display: block;
    font-family: 'Joystix';
    background-color: black;
}

p {
    color: white;
}

.container {
    max-width: 1920px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: auto;
}

h1 {
  font-weight: 400;
  position: absolute;
  color: #1A841A;
}

h2 {
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  bottom: 172px;
  left: 56px;
  color: #1A841A;
}

/* background */

.backgr {
    height: calc(100vw * (1080 / 1920));
    z-index: 0;
}
  
  .chip {
    width: calc(100vw*(299 / 1920));
    opacity: 70%;
    position: absolute;
    transition: transform 0.3s linear;
  }

  .c-1 {
    top: calc(100vw*(-61/1920));
    left: calc(100vw*(-37/1920));
  }

  .c-2 {
    top: calc(100vw*(-38/1920));
    left: calc(100vw*(770/1920));
  }

  .c-3 {
    top: calc(100vw*(-17/1920));
    right: calc(100vw*(386/1920));
  }

  .c-4 {
    top: calc(100vw*(-40/1920));
    right: calc(100vw*(-90/1920));
  }

  .c-5 {
    top: calc(100vw*(205/1920));
    left: calc(100vw*(432/1920));
  }

  .c-6 {
    top: calc(100vw*(364/1920));
    left: calc(100vw*(764/1920));
  }

  .c-7 {
    top: calc(100vw*(347/1920));
    left: calc(100vw*(1377/1920));
  }

  .c-8 {
    top: calc(100vw*(364/1920));
    right: calc(100vw*(-83/1920));
  }

  .c-9 {
    top: calc(100vw*(575/1920));
    left: calc(100vw*(62/1920));
  }

  .c-10 {
    top: calc(100vw*(792/1920));
    left: calc(100vw*(461/1920));
  }

  .c-11 {
    top: calc(100vw*(792/1920));
    right: calc(100vw*(532/1920));
  }

  .c-12 {
    top: calc(100vw*(709/1920));
    right: calc(100vw*(200/1920));
  }

  .c-13 {
    top: calc(100vw*(992/1920));
    left: calc(100vw*(-20/1920));
  }

  .c-14 {
    bottom: calc(100vw*(915/1920));
    left: calc(100vw*(602/1920));
  }

  .c-15 {
    top: calc(100vw*(1116/1920));
    right: calc(100vw*(520/1920));
  }

  .c-16 {
    top: calc(100vw*(1120/1920));
    right: calc(100vw*(-12/1920));
  }

  .c-17 {
    bottom: calc(100vw*(250/1920));
    left: calc(100vw*(580/1920));
  }

  .c-18 {
    bottom: calc(100vw*(644/1920));
    left: calc(100vw*(690/1920));
  }

  .c-19 {
    bottom: calc(100vw*(782/1920));
    right: calc(100vw*(570/1920));
  }

  .c-20 {
    bottom: calc(100vw*(695/1920));
    right: calc(100vw*(220/1920));
  }

  .c-21 {
    bottom: calc(100vw*(388/1920));
    left: calc(100vw*(-70/1920));
  }

  .c-22 {
    bottom: calc(100vw*(425/1920));
    left: calc(100vw*(349/1920));
  }

  .c-23 {
    bottom: calc(100vw*(244/1920));
    right: calc(100vw*(341/1920));
  }

  .c-24 {
    bottom: calc(100vw*(349/1920));
    right: calc(100vw*(510/1920));
  }

  /* main */

  .main {
    display: block;
  }

  .sectionblock {
    display: block; 
}

  .sectionnone {
    display: none;
  }

  .title {
    width: 528px;
    height: 248px;
    font-size: 70px;
    position: absolute;
    top: 36px;
    left: 56px;
    z-index: 1;
  }

  .hide-btn {
    width: 287px;
    height: 42px;
    top: 0px;
    left: 816px;
    border-radius: 0px 0px 25px 25px;
    background: #FFF;
    box-shadow: 0px 5px 0.6px 0px rgba(174, 174, 174, 0.25);
    position: absolute;
    z-index: 1;
    cursor: pointer;
    color: #1A841A;
    font-family: 'Joystix';
    font-size: 20px;
    transition: all 0.15s ease-in-out;
  }

  .hide-btn-2 {
    width: 49px;
    height: 38px;
    border-radius: 0px 0px 15px 15px;
    background: #FFF;
    box-shadow: 0px 5px 0.6px 0px rgba(174, 174, 174, 0.25);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    position: absolute;
    top: -50px; 
    left: 930px;
    transform: translateX(-50%);
    opacity: 0;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .show-text {
    display: block;
    padding-left: 9px;
    font-size: 36px;
    font-family: 'Joystix';
    color: #1A841A;
    position: absolute;
    bottom: 1px;
  }

   .hide-btn-2.visible {
    top: 0px;
    opacity: 1;
  }

  .hide-btn:active {
    box-shadow: none;
    transform: translateY(-2px);
    transform: translateY(-6px);
  }

  .hide-btn-2:active {
    box-shadow: none;
    /* transform: translateX(-1px); */
  }

  .hide-btn:hover {
    background: #ffffffc5;
  }

  .hide-btn-2:hover {
    background: #ffffffc5;
  }

  .tohide {
    transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .toscale {
    transition: transform 0.5s ease-in-out;
  }

  .scaled {
    transform: scale(1.3) !important; 
    animation: slotshake 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  }

  .hiddeninterface {
    opacity: 0;
  }

  #FAQ {
    width: 95px;
    height: 95px;
    position: absolute;
    top: 36px;
    right: 64px;
    font-size: 70px;
    font-family: 'Joystix';
    color: #1A841A;
    border: 10px solid #1A841A;
    cursor: pointer;
  }

  #FAQ:hover {
    color: #1a841aaa;
    border: 10px solid #1a841aaa;
  }

  .FAQ-txt {
    position: absolute;
    bottom: 0%;
    right: 15%;
  }

  .slot {
    width: 210px;
    height: 447px;
    position: absolute;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #000;
    font-family: 'Joystix';
    font-size: 100px;
    transition: all 0.3s ease-in-out;
  }

  .slot:hover {
    color: #1A841A;
    animation: still 1.7s ease-in-out infinite;
  }

  .slot1 {
    top: 297px;
    left: 92px;
    background-image: url(../images/slot-1.png);
    animation: slotshake 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  }

  .btn1 {
    display: inline-block;
    transform: rotate(3.574deg);
    margin-bottom: 50%;
    margin-left: 15%;
  }

  .slot2 {
    top: 245px;
    left: 544px;
    background-image: url(../images/slot-2.png);
    animation: slotshake2 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  }

  .btn2 {
    display: inline-block;
    transform: rotate(-7.368deg);
    margin-bottom: 50%;
    margin-left: -5%;
  }

  .slot3 {
    bottom: 308px;
    right: 685px;
    background-image: url(../images/slot-3.png);
    animation: slotshake2 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  }

  .btn3 {
    display: inline-block;
    transform: rotate(4.157deg);
    margin-bottom: 50%;
    margin-left: 15%;
  }

  .slot4 {
    bottom: 270px;
    right: 175px;
    background-image: url(../images/slot-4.png);
    animation: slotshake 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  }

  .btn4 {
    display: inline-block;
    transform: rotate(-6.502deg);
    margin-bottom: 50%;
    margin-left: -5%;
  }

  .name-input {
    width: 745px;
    height: 105px;
    background-color: #000;
    border: 10px solid #FFF;
    color: #FFF;
    font-family: 'Joystix';
    font-size: 40px;
    padding-left: 20px;
    position: absolute;
    bottom: 20px;
    left: 56px;
  }

  .print-btn {
    width: 395px;
    height: 189px;
    font-family: 'Joystix';
    font-size: 40px;
    position: absolute;
    bottom: 50px;
    right: 64px;
    border: 10px solid #FFF;
    background-color: #000;
    color: white;
    cursor: pointer;
  }

  /* modal */

  #modal-window {
    width: 920px;
    height: 529px;
    position: absolute;
    top: 27px;
    right: 61px;
    background-image: url(../images/modal-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: modal-animation 0.4s ease-in-out 1;
  }

  #FAQ-2 {
    width: 95px;
    height: 95px;
    position: absolute;
    top: 36px;
    right: 64px;
    font-size: 70px;
    font-family: 'Joystix';
    color: #ffffff;
    border: 10px solid #ffffff;
    cursor: pointer;
  }

    .modal-txt {
      width: 557px;
      height: 338px;
      color: #FFF;
      font-size: 22px;
      line-height: 120%;
      letter-spacing: -0.88px;
      position: absolute;
      top: 161px;
      right: 117px;
      animation: modalshake 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
    }

    .modal-txt-2 {
      width: 557px;
      height: 338px;
      color: #FFF;
      font-size: 22px;
      line-height: 120%;
      letter-spacing: -0.88px;
      position: absolute;
      top: 460px;
      right: -207px;
      animation: modalshake 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
    }

  /* chips-drag */

  .chips-drag {
  overflow: hidden;
  height: calc(100vw*(1080/1920));
  position: relative;
  }

  .chips-title {
    height: 96px;
    font-size: 90px;
    top: 25px;
    left: 137px;
  }

  .hand-1 {
    position: absolute;
    width: 788px;
    height: 948px;
    top: 176px;
    left: 0%;
    pointer-events: none;
  }

  .hand-2 {
    position: absolute;
    width: 788px;
    height: 948px;
    top: 176px;
    right: 0%;
    pointer-events: none;
  }

  .draggable {
    width: calc(100vw*(177/1920));
    position: absolute;
    cursor: grab;
  }

  .dchip-1 {
    top: calc(100vw*(268/1920));
    left: calc(100vw*(748/1920));
  }

  .dchip-2 {
    top: calc(100vw*(270/1920));
    left: calc(100vw*(970/1920));
  }

  .dchip-3 {
    top: calc(100vw*(269/1920));
    left: calc(100vw*(1100/1920));
  }

  .dchip-4 {
    top: calc(100vw*(430/1920));
    left: calc(100vw*(830/1920));
  }

  .dchip-5 {
    top: calc(100vw*(405/1920));
    left: calc(100vw*(648/1920));
  }
  .dchip-6 {
    top: calc(100vw*(438/1920));
    left: calc(100vw*(1138/1920));
  }

  .dchip-7 {
    top: calc(100vw*(437/1920));
    left: calc(100vw*(998/1920));
  }

  .dchip-8 {
    top: calc(100vw*(567/1920));
    left: calc(100vw*(813/1920));
  }

  .dchip-9 {
    top: calc(100vw*(538/1920));
    left: calc(100vw*(946/1920));
  }

  .dchip-10 {
    top: calc(100vw*(569/1920));
    right: calc(100vw*(700/1920));
  }

  .dchip-11 {
    top: calc(100vw*(668/1920));
    left: calc(100vw*(648/1920));
  }

  .dchip-12 {
    top: calc(100vw*(581/1920));
    left: calc(100vw*(879/1920));
  }

  .dchip-13 {
    top: calc(100vw*(508/1920));
    left: calc(100vw*(883/1920));
  }

  .dchip-14 {
    top: calc(100vw*(588/1920));
    left: calc(100vw*(1048/1920));
  }

  .dchip-15 {
    top: calc(100vw*(208/1920));
    right: calc(100vw*(780/1920));
  }

  .done-1 {
    width: 356px;
    height: 105px;
    padding: 0;
    cursor: pointer;
    background: #FFF;
    box-shadow: 10px 13px 0px 0px rgba(174, 174, 174, 0.25);
    position: absolute;
    top: 940px;
    left: 746px;
    transition: all 0.15s ease-in-out;
  }

  .done-text {
    display: block;
    padding: 24px 50px;
    font-size: 50px;
    font-family: 'Joystix';
    color: #1A841A;
    position: absolute;
    bottom: 5px;
  }
  
  .done-1:active {
    box-shadow: none;
    transform: translateY(-2px);
    transform: translateY(-6px);
  }

  /* cards */

.cards {
  overflow: hidden;
  height: calc(100vw*(1080/1920));
  position: relative;
}

.cards-title {
  height: 96px;
  font-size: 90px;
  top: 25px;
  left: 137px;
}

.card {
  width: 249px;
  height: 443px;
  position: absolute;
}

.card-img-1 {
  top: 148px;
  left: 190px;
}

.card-img-2 {
  top: 148px;
  left: 448px;
}

.card-img-3 {
  top: 148px;
  left: 706px;
}

.card-img-4 {
  top: 148px;
  right: 706px;
}

.card-img-5 {
  top: 148px;
  right: 447px;
}

.card-img-6 {
  top: 148px;
  right: 189px;
}

.card-img-7 {
  bottom: 149px;
  left: 190px;
}

.card-img-8 {
  bottom: 149px;
  left: 448px;
}

.card-img-9 {
  bottom: 149px;
  left: 706px;
}

.card-img-10 {
  bottom: 149px;
  right: 706px;
}

.card-img-11 {
  bottom: 149px;
  right: 447px;
}

.card-img-12 {
  bottom: 149px;
  right: 189px;
}


.magnifying {
  width: 375px;
  height: 846px;
  position: absolute;
  top: 295px;
  left: 165px;
  background-image: url(../images/magnifying.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  cursor: grab;
}

.magnifier {
  width: 292px;
  height: 297px;
  position: absolute;
  top: 23px;
  left: 20px;
  border-radius: 50%;
  overflow: hidden;
  /* background: rgba(209, 209, 209, 0.696); */
  background-image: url(../images/cards-1920.png);
  background-position: center;
  background-size: 1000px 1000px; 
  transform-origin: top left;
  transform: translate(-50%, -50%);
}

.done-2 {
  width: 356px;
  height: 105px;
  padding: 0;
  cursor: pointer;
  background: #FFF;
  box-shadow: 10px 13px 0px 0px rgba(174, 174, 174, 0.25);
  position: absolute;
  top: 940px;
  left: 746px;
  transition: all 0.15s ease-in-out;
}

.done-2:active {
  box-shadow: none;
  transform: translateY(-2px);
  transform: translateY(-6px);
}

/* anekdoti */

.anekdoti {
  overflow: hidden;
  height: calc(100vw*(1080/1920));
  position: relative;
}

.anek-title {
  height: 96px;
  font-size: 90px;
  position: absolute;
  top: 25px;
  left: 355px;
}

.done-3 {
  width: 356px;
  height: 105px;
  padding: 0;
  cursor: pointer;
  background: #FFF;
  box-shadow: 10px 13px 0px 0px rgba(174, 174, 174, 0.25);
  position: absolute;
  top: 940px;
  left: 746px;
  transition: all 0.15s ease-in-out;
}

/* slot-machine */

.slot-machine {
  overflow: hidden;
  height: calc(100vw*(1080/1920));
  position: relative;
}

.slot-title {
  height: 96px;
  font-size: 90px;
  position: absolute;
  top: 25px;
  left: 68px;
}

.machines {
  width: 851px;
  height: 619px;
  background-image: url(../images/machine.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.machine {
  top: 230px;
  left: 514px;
  opacity: 0.63;
  z-index: 2;
  transition: transform 0.5s, opacity 0.5s;
}

.machine-left {
  top: 230px;
  left: 35px;
  opacity: 0.38;
  z-index: 1;
  transition: transform 0.5s, opacity 0.5s;
}

.machine-right {
  top: 230px;
  right: 31px;
  opacity: 0.38;
  z-index: 1;
  transition: transform 0.5s, opacity 0.5s;
}

.screw {
  width: 160px;
  height: 180px;
  background-image: url(../images/screw.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 32px;
  left: 870px;
  /* animation: screwshake 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite; */
  transition: transform 0.3s;
}

.rotated1 {
  transform: rotate(120deg);
}

.rotated2 {
  transform: rotate(190deg);
}

.done-4 {
  width: 356px;
  height: 105px;
  padding: 0;
  cursor: pointer;
  background: #FFF;
  box-shadow: 10px 13px 0px 0px rgba(174, 174, 174, 0.25);
  position: absolute;
  top: 940px;
  left: 746px;
  transition: all 0.15s ease-in-out;
}

.done-4:active {
  box-shadow: none;
  transform: translateY(-2px);
  transform: translateY(-6px);
}  

.hidden {
  display: none;
}


  